<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/sideBarCSS.css}"
	href="../../static/css/sideBarCSS.css" />
<link rel="stylesheet" th:href="@{/css/cssTemplate.css}"
	href="../../static/css/cssTemplate.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<section>
	<div>
		<img class = "logo" src="../../resources/static/images/yes.png" th:src="@{images/logo.png}"
		/>
		
	</div> 
</section>
	<nav>
	</nav>
	<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</body>